<template>
  <div class="grid-container">
    <form @submit.prevent="signIn({ email, password })" class="grid-x grid-margin-x">
      <h1>Login</h1>
      <input type="text" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button class="expanded button" type="submit">Login</button>
    </form>
  </div>
</template>
<script>

import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  data() {
    return {
      email: "",
      password: ""
    }
  },

  methods: {
    ...mapActions('login', [
      'login'
    ]),

    signIn() {
      this.login({
        email: this.email,
        password: this.password
      }).then(() => {
        this.$router.push("/")
      });
    }
  },
}
</script>
