<template>
  <div class="grid-container">
    <form @submit.prevent="postAuthDate({ email, password })" class="grid-x grid-margin-x">
      <h1>Create user</h1>
      <input type="text" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button class="expanded button" type="submit">Create user</button>
    </form>
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  data() {
    return {
      email: "",
      password: ""
    }
  },

  methods: {
    ...mapActions('signUp', [
      'signUp'
    ]),

    ...mapGetters({
      signUpMsg: 'signUp/alert',
    }),

    ...mapMutations('alertMsg', [
      'ALERT_MSG'
    ]),

    postAuthDate() {
      this.signUp({
        user: {
          email: this.email,
          password: this.password
        },
        callback: () => {
          this.$router.push("/")
          this.ALERT_MSG(this.signUpMsg())
        }
      })
    }
  }
}
</script>
