<template>
  <div id="app">
    <div class='alert-msg'>
      {{ alertMsg }}
    </div>
    <MainNav />
    <router-view />
  </div>
</template>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }
</style>
<script>
import { mapState } from 'vuex'
import MainNav from '@/components/MainNav.vue'

export default {
  computed: {
    ...mapState('alertMsg', [
      'alertMsg'
    ])
  },

  components: {
    MainNav
  },
}
</script>
