<template>
  <ul class="menu">
    <li>
      <router-link to="/">Home</router-link>
    </li>
    <li>
      <router-link to="/login" v-if="!isLoggedIn">Login</router-link>
    </li>
    <li>
      <router-link to="/signUp" v-if="isLoggedIn">Create User</router-link>
    </li>
    <li>
      <a href="#" v-if="isLoggedIn" @click="signOut">Logout</a> 
    </li>
  </ul>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'MainNav',
  computed: {
    ...mapState('login', [
      'isLoggedIn'
    ])
  },

  methods: {
    ...mapActions('login', [
      'logout'
    ]),
    
    signOut() {
      this.logout();
    }
  }
}
</script>

