<template>
  <div class="hello">
    <div class="left">
      <h1>{{ productTitle }}</h1>
      <form @submit.prevent="addProduct">
        <input class="link-input" type="text" placeholder="Add a Product" v-model="newProduct" />
      </form>
      <ul>
        <li v-for="(name, index) in pruductList" :key="index">
          {{ name }}
          <button v-on:click="removeProduct(index)" class="rm">Remove</button>
        </li>
      </ul>
    </div>
    <div class="right">
      <stats />
    </div>
  </div>
</template>

<script>
  import Stats from '@/components/Stats.vue'
  import { mapState, mapMutations, mapActions } from 'vuex'

  export default {
    name: 'Products',
    data() {
      return {
        newProduct: ''
      }
    },
    components: {
      Stats
    },
    computed: {
      ...mapState('product', [
        'productTitle',
        'pruductList'
      ])
    },
    methods: {
      ...mapMutations('product', [
        'ADD_PRODUCT'
      ]),
      ...mapActions('product', [
        'removeProduct'
      ]),
      addProduct: function() {
        this.ADD_PRODUCT(this.newProduct)
        this.newProduct = ''
      },
      removeProducts: function(product) {
        this.removeProduct(product)
      }
    }
  }
</script>
<style scoped>
  html, #app, .home {
    height: 100%;
  }
  body {
    background-color: #F4F4F4;
    margin: 0;
    height: 100%;
  }

  .hello {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-template-areas:
      "left right";
    height: 100%;
  }

  .left, .right {
    padding: 30px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    padding: 20px;
    background: white;
    margin-bottom: 8px;
  }

  .right {
    grid-area: right;
    background-color: #E9E9E9;
  }

  .rm {
    float: right;
    text-transform: uppercase;
    font-size: .8em;
    background: #f9d0e3;
    border: none;
    padding: 5px;
    color: #ff0076;
    cursor:pointer;
  }
</style>